ela-button {
  display: inline-block;
  border: none;
	cursor:pointer;
  color: var(--button-color);

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

ela-button[type=icon] {
  background-repeat: no-repeat;
  background-size: 24px 24px;

  flex: 0 1 24px;

  width: 24px;
  height: 24px;
}

ela-button[type=flat],
ela-button[type=raised] {
  text-align: center;
  line-height: 36px;

  border-radius: 2px;
  min-height: 36px;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  min-width: 64px;

  padding: 0 8px;
}

ela-button[type=raised] {
  box-shadow: 1px 2px 1px 0 rgba(0,0,0,.12),
              0 1px 1px 1px rgba(0,0,0,.12),
              0 1px 5px 0 rgba(0,0,0,.12);
}

ela-button[type=raised]:not([non-color]) {
  background: var(--secondary-bgcolor-light, var(--primary-bgcolor-light));
  color: var(--secondary-color-light-normal, var(--primary-color-light-normal));
}

ela-button[disabled] {
  color:rgba(0, 0, 0, .26)
}

ela-button:active:not([disabled]) {
	position:relative;
  top:1px;
  background-color: rgba(153, 153, 153, 0.4)
}
