body {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-bgcolor: #1976d2;
  --primary-bgcolor-light: #63a4ff;
  --primary-bgcolor-dark: #004ba0;
  --primary-color-large: #fff;
  --primary-color-normal: rgba(255, 255, 255, .98);
  --primary-color-light-large: rgba(0, 0, 0, .48);
  --primary-color-light-normal: rgba(0, 0, 0, .65);
  --primary-color-dark-large: rgba(255, 255, 255, .47);
  --primary-color-dark-normal: rgba(255, 255, 255, .66);

  /*
  --secondary-bgcolor: #fbc02d;
  --secondary-bgcolor-light: #fff263;
  --secondary-bgcolor-dark: #c49000;
  --secondary-color-large: #000;
  --secondary-color-normal: rgba(0, 0, 0, .58);
  --secondary-color-light-large: rgba(0, 0, 0, .43);
  --secondary-color-light-normal: rgba(0, 0, 0, .55);
  --secondary-color-dark-large: rgba(0, 0, 0, .51);
  --secondary-color-dark-normal: rgba(0, 0, 0, .68);
  */

  --button-color: #000;

  --text-field-bottom-line-color: rgba(0, 0, 0, .42);
  --text-field-bottom-line-hover-color: rgba(0, 0, 0, .87);
  --text-field-bottom-line-focus-color: #0039cb;
  --text-field-text-color: rgba(0, 0, 0, .54);
  --text-field-disabled-color: rgba(0, 0, 0, .38);
  --text-field-label-text-focus-color: rgba(0, 57, 203, .87);
  --text-field-input-text-focus-color: rgba(0, 0, 0, .87);
  --text-field-placeholder-color: rgba(0, 0, 0, .42);
  --text-field-helper-text-color: rgba(0, 0, 0, .54);
  --text-field-error-text-color: rgba(255, 23, 68, .87);
  --text-field-label-font-size: 11px;
  --text-field-input-font-size: 14px;
}
